@model BakeryProject.Models.RawmaterialStock

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>RawmaterialStock</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Dates)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dates)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rawmaterialid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rawmaterialid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Instock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Instock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Outstock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Outstock)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RawmaterialStockid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
